name: Java CI with Maven

on: 
    push: 
        branches: [feature/firstpipeline]
    pull_request:
        branches: [feature/firstpipeline]
    workflow_dispatch:

jobs:
    build-and-test:
        runs-on: ubuntu-latest
        steps:
            - name: Checkout code
              uses: actions/checkout@v4
            - run: |
                mvn clean package
            - name: Build and push
              uses: docker/build-push-action@v6
              with:
                push: false
                tags: custombackendjava:latest